#canvas {
    background-color: antiquewhite;
    margin: 0;
}

#canvas:hover {
    cursor: crosshair;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar li a:hover {
    cursor: pointer;
}

.navbar .navbar-brand:hover {
    cursor: pointer;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

.action-possible {
    color: white;
}

.action-impossible {
    color: red;
}