#canvas {
    background-color: antiquewhite;
    margin: 0;
}

#canvas:hover {
    cursor: crosshair;
}

.navbar {
    margin-bottom: 0;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

